[Desktop Entry]
Categories=GNOME;GTK;Network;Feed;
Comment=Keep up with your feeds
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=io.gitlab.news_flash.NewsFlash io.gitlab.news_flash.NewsFlash
GenericName=RSS Reader
Icon=io.gitlab.news_flash.NewsFlash
Keywords=Gnome;GTK;RSS;Feed;
Name=Newsflash
StartupNotify=true
Terminal=false
Type=Application
X-Flatpak=io.gitlab.news_flash.NewsFlash
X-GNOME-UsesNotifications=true
X-Purism-FormFactor=Workstation;Mobile;
