[Desktop Entry]
Comment[en_US]=
Comment=
Exec=/usr/bin/unfuck-music -w
GenericName[en_US]=
GenericName=
Icon=
MimeType=
Name[en_US]=unfuck-music
Name=unfuck-music
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
